<ion-view view-title="Collections">
  <ion-content>
    <h1>Collections</h1>
  </ion-content>
  <ion-tabs class="tabs-royal tabs-icon-only">

  <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <!-- Tab 1 content --><p>1dddd2222</p>
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <!-- Tab 2 content --><p>12sa22222</p>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <!-- Tab 3 content --><p>12322222</p>
  </ion-tab>

</ion-tabs>
</ion-view>
