.aqua-overlay { 
    background-color: rgba(0, 0, 0, 0.78) !important;
    width: 100%;
    height: auto !important;
    text-align: center;
    z-index: 1;
    visibility: hidden;
}

.aqua-overlay-enter { 
    animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 0.3s;	
	-webkit-animation-duration: 0.3s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

    z-index: 2 !important;
	visibility: visible !important;
}

.aqua-overlay-leave { 
    animation-name: slideDown;
	-webkit-animation-name: slideDown;	
    
    -webkit-transition:visibility 0.3s;
    transition:visibility 0.3s;
    
	animation-duration: 0.3s;	
	-webkit-animation-duration: 0.3s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;	

    z-index: 1 !important;
	visibility: hidden !important;	
}


@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}		
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@keyframes slideDown {
	0% {
		transform: translateY(0%);
	}		
	100% {
		transform: translateY(100%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(100%);
	}	
}